@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.swiper{
  height: 100%;
  width: 100%;
}
#swiper-1{
  width:80%;
  height: 60vh;
}
#swiper-2{
width: 95%;
height: 80vh;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.swiper-button-next,.swiper-button-prev{
  background-color: #000;
}